//
// カバーのスタイル
//

//アバウトカバー
.about-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60rem;
    margin-top: 5rem;
    background-image: url("../images/sp_cover_about.jpg");
    background-size: cover;
    background-position: center;

    @media (min-width: 769px) {
        align-items: flex-end;
        height: 76rem;
        margin-top: 7rem;
        background-image: url("../images/pc_cover_about.jpg");

    }
}

.cover-title {
    margin: 0;
    font-family: 'HGS明朝E', sans-serif;
    font-size: 4rem;
    color: $white;

    @media (min-width: 769px) {
        margin-right: 14.3rem;
        font-size: 4.2rem;
    }
}
